{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/login.css') }}" />

 <div class="d-flex flex-column justify-content-center align-items-center mt-4">

        <div class="item1 d-flex flex-column justify-content-center align-items-center">
            <p class="header1">Ozel Okul</p>
            <p class="header2">Yonetim Sistemi</p>
        </div>

        <form class="form d-flex flex-column justify-content-center align-items-center mt-5" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            
          
            <input  type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="kullanici adi" autocomplete="username" required autofocus >
            
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="sifre" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn  mt-3" type="submit" >
                giris yap
            </button>
        </form>
    </div>
          
        

{% endblock %}
