{% extends 'base.html.twig' %}

{% block title %}Ogrenciler{% endblock %}

{% block body %}

<style>
    .homepage-button{
        position:absolute;
        top:3vh;
        left: 3vw;
    }

</style>
{% if dersler %}
{% if is_granted("ROLE_OGRETMEN") %}
    <a class="btn btn-primary homepage-button" href="{{ path('ogretmen-main') }}">Ana Sayfa</a>
{% endif %}
{% if is_granted("ROLE_OGRENCI") %}
    <a class="btn btn-primary homepage-button" href="{{ path('ogrenci-main') }}">Ana Sayfa</a>
{% endif %}
{% if is_granted("ROLE_YONETICI") %}
    <a class="btn btn-primary homepage-button" href="{{ path('yonetici-main') }}">Ana Sayfa</a>
{% endif %}
<div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <div style="width:70%;">
    <center><h1>Kayitli Dersler</h1></center>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                    <th>Ders ID</th>
                    <th>Ders Adi</th>
                    <th>Ders Fiyati</th>
                    <th>Ogretmen Ucreti</th>
                    <th>Hangi Sinifta Alinabilir</th>
                    <th>Ders Kredisi</th>
                    <th>Ders Gunu</th>
                    {% if is_granted("ROLE_OGRETMEN") or is_granted("ROLE_OGRENCI") %}
                            <th>Egitmen</th>
                            <th>Ogrenciler</th>
                            <th>Ekle/Sil</th>
                            
                    {% endif %}
                    

                    
            </tr>
        </thead>
        <tbody>
           {% for ders in dersler %}
                    <tr>
                        <td>
                            {{ ders.getId() }}
                            
                        </td>
                        <td>
                            {{ ders.dersAdi() }}
                        </td>
                        <td>
                            {{ ders.DersFiyati }}
                        </td>
                        <td>
                            {{ ders.ogretmenUcreti }}
                        </td>
                    
                        <td>
                            {{ ders.hangiSiniftaAlinabilir }}
                        </td>
                        <td>
                            {{ ders.dersKredisi }}
                        </td>
                        <td>
                            {{ ders.dersGunu|date("Y/m/d") }}
                        </td>
                        
                        {% if is_granted("ROLE_OGRENCI") %}
                            <td>
                            {% for hoca in ders.getOgretmen() %}
                                {% if hoca != ogretmen %}
                                    ,{{ hoca.username }}
                                {% endif %}
                                
                            
                            {% endfor %}
                            </td>
                            {% if ogrenciderseAidiyetKontrol(ders.getOgrenci(),ogrenci) %}
                                <td>
                                    <h5><span class="badge badge-warning">Siz</span></h5>
                                    {% for forOgrenci in  ders.getOgrenci() %}
                                        {% if forOgrenci != ogrenci %}
                                            ,{{ forOgrenci.username }}
                                        {% endif %}
                                        
                                    {% endfor %}
                                </td>
                            {% else %}
                        {% if ders.getOgrenci()|length > 0 %}
                            <td>
                                {% for forOgrenci in  ders.getOgrenci() %}
                                        
                                            ,{{ forOgrenci.username }}
                                {% endfor %}
                            </td>
                            {% else %}
                            <td>
                                Derse kayitli ogrenci yok!
                            </td>
                            {% endif %}


                        

                            {% endif %}
                            {% if  ogrenciderseAidiyetKontrol(ders.getOgrenci(),ogrenci) %}
                                {# Ders Silme linki #}
                                <td>
                                <a class="btn btn-sm btn-outline-danger" href="{{ path('ogrenci.dersten-ayril',{dersid:ders.getId()}) }}">Dersten Ayril</a>
                                </td>
                            {% else %}
                                {# Ders Ekleme linki #}
                                <td>
                                {% if not  ders.getOgretmen()|length > 0  %}
                                    <h5><span class="badge badge-danger">Derse Katilamazsiniz!</span></h5>
                                    {% else %}
                                    <a class="btn btn-sm btn-outline-success" href="{{ path('ogrenci.derse-katil',{dersid:ders.getId()}) }}">Katil</a>
                                {% endif %}
                                
                                </td>
                            {% endif %}
                            
                            


                        {% endif %}

                       
                        {% if is_granted("ROLE_OGRETMEN") %}
                            {% if derseAidiyetKontrol(ders.getOgretmen(),ogretmen) == true %}
                                <td>
                                    <h5><span class="badge badge-warning">Siz</span></h5>
                                    {% for hoca in ders.getOgretmen() %}
                                        {% if hoca != ogretmen %}
                                            ,{{ hoca.username }}
                                        {% endif %}
                                        
                                    {% endfor %}
                                </td>
                                {% if ders.getOgrenci()|length > 0 %}
                                    <td>
                                        {% for forOgrenci in  ders.getOgrenci() %}
                                                
                                                    ,{{ forOgrenci.username }}
                                        {% endfor %}
                                    </td>
                                    {% else %}
                                    <td>
                                        Derse kayitli ogrenci yok!
                                    </td>
                                {% endif %}
                                
                                
                                <td>
                                    <h4><span class="badge badge-info">Derse Aitsiniz</span></h4>
                                    <a class="btn btn-sm btn-outline-dark" href="{{ path('ogretmen.derstenAyril',{id:ders.getId()}) }}">Dersten Ayril</a>
                                </td>
                            
                            {% else %}
                                <td>
                                    {% for hoca in ders.getOgretmen() %}
                                        {{ hoca.username }},
                                    {% endfor %}
                                </td>
                                {% if ders.getOgrenci()|length > 0 %}
                                    <td>
                                        {% for forOgrenci in  ders.getOgrenci() %}
                                                
                                                    ,{{ forOgrenci.username }}
                                        {% endfor %}
                                    </td>
                                    {% else %}
                                    <td>
                                        Derse kayitli ogrenci yok!
                                    </td>
                                {% endif %}
                                <td>
                                     <a class="btn btn-sm btn-outline-warning" href="{{ path('ogretmen.derseKatil',{id:ders.getId()}) }}">Derse Katil</a>
                                </td>
                            {% endif %}
                            
                           
                        {% endif %}
                        
                        
                         

                    </tr>
                {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                    <th>Ders ID</th>
                    <th>Ders Adi</th>
                    <th>Ders Fiyati</th>
                    <th>Ogretmen Ucreti</th>
                    <th>Hangi Sinifta Alinabilir</th>
                    <th>Ders Kredisi</th>
                    <th>Ders Gunu</th>
                    {% if is_granted("ROLE_OGRETMEN") or is_granted("ROLE_OGRENCI") %}
                            <th>Egitmen</th>
                            <th>Ogrenciler</th>
                            <th>Ekle/Sil</th>
                    {% endif %}
            </tr>
        </tfoot>
    </table>
    </div>
</div>


<script>

$(document).ready(function() {
    $('#example').DataTable();
} );
</script>



{% endif %}


{% endblock %}
