{% extends 'base.html.twig' %}

{% block title %}Ogrenciler{% endblock %}
{% block body %}
    <style>
        .homepage-button{
            position:absolute;
            top:3vh;
            left: 3vw;
        }

    </style>

    {% if is_granted("ROLE_OGRETMEN") %}
    <a class="btn btn-primary homepage-button" href="{{ path('ogretmen-main') }}">Ana Sayfa</a>
    {% endif %}
    {% if is_granted("ROLE_OGRENCI") %}
        <a class="btn btn-primary homepage-button" href="{{ path('ogrenci-main') }}">Ana Sayfa</a>
    {% endif %}
    {% if is_granted("ROLE_YONETICI") %}
        <a class="btn btn-primary homepage-button" href="{{ path('yonetici-main') }}">Ana Sayfa</a>
    {% endif %}



{% if ogretmen %}



<div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <div style="width:70%;">
    <center><h1>Kullanici Hesap Detaylari</h1></center>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                    <th>Ogretmen Id</th>
                    <th>Ogretmen Adi</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Verilecek Ucret</th>
                    <th>Telefon</th>
                    <th>Adres</th>
                    
            </tr>
        </thead>
        <tbody>
           
                    <tr>
                        <td>
                            {{ ogretmen.getOgretmenId() }}
                            
                        </td>
                        <td>
                            {{ ogretmen.getOgretmenAdi() }}
                        </td>
                        <td>
                            {{ ogretmen.username }}
                        </td>
                        <td>
                            {{ ogretmen.email }}
                        </td>
                    
                        <td>
                            {{ ogretmen.getVerilecekUcret() }}
                        </td>
                        <td>
                            {{ ogretmen.telefon }}
                        </td>
                        <td>
                            {{ ogretmen.adres }}
                        </td>
                        
                    </tr>
                
        </tbody>
        <tfoot>
             <tr>
                    <th>Ogretmen Id</th>
                    <th>Ogretmen Adi</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Verilecek Ucret</th>
                    <th>Telefon</th>
                    <th>Adres</th>
                    
            </tr>
        </tfoot>
    </table>
    </div>
</div>


<script>

$(document).ready(function() {
    $('#example').DataTable();
} );
</script>






{% endif %}


{% endblock %}

