{% extends 'base.html.twig' %}

{% block title %}Ogrenciler{% endblock %}
{% block body %}

  <link rel="stylesheet" href="{{ asset('css/ogrenciStyle.css') }}" />
    <style>
        .homepage-button{
            position:absolute;
            top:3vh;
            left: 3vw;
        }
        body{
             background-color: white !important;
        }
        #navbarTogglerDemo01{
            height: 100vh !important;
        }

    </style>



{% if ogretmen %}

<div class="main">
        <nav class="navbar  navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand-xl navbar-dark" id="navbar">
        <!--  -->
            <button id="collapseButton" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" onclick="changeColor()">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-column" id="navbarTogglerDemo01">
                <div class="kapsayici-div d-flex flex-column justify-content-center align-items-center">
                    <div class="nav-header d-flex flex-column justify-content-center align-items-center ">
                        <div class="mb-2 username-field">
                            {{ user.username }}
                        </div>
                        <div class=" yetki-kapsayici d-flex justify-content-center align-items-center">
                            <div class="yetki">
                                yetki:
                            </div>
                            <div>
                            <h3><span class="badge badge-success">
                            {% if is_granted("ROLE_OGRENCI") %}
                                    ogrenci
                                {% elseif is_granted("ROLE_OGRETMEN") %}
                                    ogretmen
                                    {% elseif is_granted("ROLE_YONETICI") %}
                                    yonetici
                            {% endif %}
                            
                            </span></h3>
                            </div>
                        </div>
                    </div>
                    {% if is_granted("ROLE_OGRENCI") %}
                        <div class="route d-flex justify-content-center align-items-center">
                            <a href="{{ path('ogrenci.account') }}">Kullanici Bilgileri</a>
                        </div>
                        <div class="route d-flex justify-content-center align-items-center">
                            <a  href="{{ path('ogrenci.dersleri.gor') }}">Dersleri Gor</a>
                        </div>
                    {% endif %}
                    {% if is_granted("ROLE_OGRETMEN") %}
                        <div class="route d-flex justify-content-center align-items-center">
                            <a href="{{ path('ogretmen.account') }}">Kullanici Bilgileri</a>
                        </div>
                        <div class="route d-flex justify-content-center align-items-center">
                            <a  href="{{ path('ogretmen.dersleri.gor') }}">Dersleri Gor</a>
                        </div>
                    {% endif %}
                    {% if is_granted("ROLE_YONETICI") %}
                        <div class="route d-flex justify-content-center align-items-center">
                            <a href="{{ path('yonetici.account') }}">Kullanici Bilgileri</a>
                        </div>
                        <div class="route d-flex justify-content-center align-items-center">
                            <a  href="{{ path('yonetici.dersleri.gor') }}">Dersleri Gor</a>
                        </div>
                    {% endif %}

                    <br>
                    <hr>
    
                </div>
                <div class="cikis d-flex justify-content-center align-items-center">
                    <a  href="{{ path('app_logout') }}">Cikis Yap</a> 
                </div>
              
              
            </div>
            
        </nav>
    
        <div class="duyurular-container d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex flex-column justify-content-center align-items-center mt-5">
                    <div style="width:100%;">
                    <center><h1>Kullanici Hesap Detaylari</h1></center>
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                    <th>Ogretmen Id</th>
                                    <th>Ogretmen Adi</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Verilecek Ucret</th>
                                    <th>Telefon</th>
                                    <th>Adres</th>
                                    
                            </tr>
                        </thead>
                        <tbody>
                        
                                    <tr>
                                        <td>
                                            {{ ogretmen.getOgretmenId() }}
                                            
                                        </td>
                                        <td>
                                            {{ ogretmen.getOgretmenAdi() }}
                                        </td>
                                        <td>
                                            {{ ogretmen.username }}
                                        </td>
                                        <td>
                                            {{ ogretmen.email }}
                                        </td>
                                    
                                        <td>
                                            {{ ogretmen.getVerilecekUcret() }}
                                        </td>
                                        <td>
                                            {{ ogretmen.telefon }}
                                        </td>
                                        <td>
                                            {{ ogretmen.adres }}
                                        </td>
                                        
                                    </tr>
                                
                        </tbody>
                        <tfoot>
                            <tr>
                                    <th>Ogretmen Id</th>
                                    <th>Ogretmen Adi</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Verilecek Ucret</th>
                                    <th>Telefon</th>
                                    <th>Adres</th>
                                    
                            </tr>
                        </tfoot>
                    </table>
                    </div>
                </div>


                <script>

                $(document).ready(function() {
                    $('#example').DataTable();
                } );
                </script>



            
        </div>

    </div>







{% endif %}


{% endblock %}

