{% extends 'base.html.twig' %}

{% block title %}Ogretmenler{% endblock %}
{% block body %}

<link rel="stylesheet" href="{{ asset('css/ogrenciStyle.css') }}" />
 <style>
        
        body{
            background-color: white !important;
        }

    </style>


{% if ogretmenler %}
<div class="main">
        <nav class="navbar  navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand-xl navbar-dark" id="navbar">
        <!--  -->
            <button id="collapseButton" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" onclick="changeColor()">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-column" id="navbarTogglerDemo01">
                <div class="kapsayici-div d-flex flex-column justify-content-center align-items-center">
                    <div class="nav-header d-flex flex-column justify-content-center align-items-center ">
                        <div class="mb-2 username-field">
                            {{ app.user.username }}
                        </div>
                        <div class=" yetki-kapsayici d-flex justify-content-center align-items-center">
                            <div class="yetki">
                                yetki:
                            </div>
                            <div>
                            <h3><span class="badge badge-success">
                            {% if is_granted("ROLE_OGRENCI") %}
                                    ogrenci
                                {% elseif is_granted("ROLE_OGRETMEN") %}
                                    ROLE_OGRETMEN
                                    {% elseif is_granted("ROLE_YONETICI") %}
                                    yonetici
                            {% endif %}
                            
                            </span></h3>
                            </div>
                        </div>
                    </div>
                    
                    <div class="route d-flex justify-content-center align-items-center">
                        <a href="{{ path('yonetici.account') }}">Kullanici Bilgileri</a>
                    </div>
                    <div class="route d-flex justify-content-center align-items-center">
                        <a  href="{{ path('yonetici.ogrencileri.gor') }}">Ogrencileri Gor</a>
                    </div>
                     <div class="route d-flex justify-content-center align-items-center">
                        <a  href="{{ path('ogrenci-kayit') }}">Ogrenci Kayit</a>
                    </div>
                    <div class="route d-flex justify-content-center align-items-center">
                        <a href="{{ path('ogretmenleri.gor') }}">Ogretmenleri Gor</a>
                    </div>
                    <div class="route d-flex justify-content-center align-items-center">
                        <a  href="{{ path('yoneticileri.gor') }}">Yoneticileri Gor</a>
                    </div>
                    <div class="route d-flex justify-content-center align-items-center">
                        <a  href="{{ path('yonetici.dersleri.gor') }}">Dersleri Gor</a>
                    </div>
                    <div class="route d-flex justify-content-center align-items-center">
                        <a  href="{{ path('ders.ekle') }}">Ders Ekle</a>
                    </div>
                    <div class="route d-flex justify-content-center align-items-center">
                        <a  href="{{ path('ogretmen.kayit') }}">Ogretmen Ekle</a>
                    </div>
                    <div class="route d-flex justify-content-center align-items-center">
                        <a  href="{{ path('yonetici.kayit') }}">Yonetici Ekle</a>
                    </div>

                    <br>
                    <hr>
    
                </div>
                <div class="cikis d-flex justify-content-center align-items-center">
                    <a  href="{{ path('app_logout') }}">Cikis Yap</a> 
                </div>
              
              
            </div>
            
        </nav>
    
        <div class="duyurular-container d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center mt-5">
            <div style="width:90%;">
            <center><h1>Kayitli Ogretmenler</h1></center>
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                            <th>Ogretmen ID</th>
                            <th>Ogretmen Adi</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Telefon</th>
                            <th>Adres</th>
                            <th>Verilecek Ucret</th>
                    </tr>
                </thead>
                <tbody>
                {% for ogretmen in ogretmenler %}
                            <tr>
                                <td>
                                    {{ ogretmen.getOgretmenId() }}
                                    
                                </td>
                                <td>
                                    {{ ogretmen.ogretmenAdi }}
                                </td>
                                <td>
                                    {{ ogretmen.username }}
                                </td>
                                <td>
                                    {{ ogretmen.email }}
                                </td>
                            
                                <td>
                                    {{ ogretmen.telefon }}
                                </td>
                                <td>
                                    {{ ogretmen.adres }}
                                </td>
                                <td>
                                    {{ ogretmen.verilecekUcret }}
                                </td>
                                
                            </tr>
                        {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                            <th>Ogretmen ID</th>
                            <th>Ogretmen Adi</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Telefon</th>
                            <th>Adres</th>
                            <th>Verilecek Ucret</th>
                    </tr>
                </tfoot>
            </table>
            </div>
        </div>


        <script>

        $(document).ready(function() {
            $('#example').DataTable();
        } );
        </script>

                

            
        </div>



   


{% endif %}


{% endblock %}
{% block script  %}

    

{% endblock %}