{% extends 'base.html.twig' %}

{% block title %}Ogrenciler{% endblock %}
{% block body %}

<style>
    .homepage-button{
        position:absolute;
        top:3vh;
        left: 3vw;
    }

</style>
{% if dersler %}
{% if is_granted("ROLE_OGRETMEN") %}
    <a class="btn btn-primary homepage-button" href="{{ path('ogretmen-main') }}">Ana Sayfa</a>
{% endif %}
{% if is_granted("ROLE_OGRENCI") %}
    <a class="btn btn-primary homepage-button" href="{{ path('ogrenci-main') }}">Ana Sayfa</a>
{% endif %}
{% if is_granted("ROLE_YONETICI") %}
    <a class="btn btn-primary homepage-button" href="{{ path('yonetici-main') }}">Ana Sayfa</a>
{% endif %}

{% if yonetici %}

    <div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <h1>Kullanici Hesap Detaylari</h1>
    <div style="width:70%;">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                    <th>Yonetici Id</th>
                    <th>Yonetici Adi</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Adres</th>
                    <th>Verilecek Ucret</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                        <td>
                            {{ yonetici.id }}
                            
                        </td>
                        <td>
                            {{ yonetici.getYoneticiAdi() }}
                        </td>
                        <td>
                            {{ yonetici.username }}
                        </td>
                        <td>
                            {{ yonetici.email }}
                        </td>
                    
                        <td>
                            {{ yonetici.telefon }}
                        </td>
                        <td>
                            {{ yonetici.adres }}
                        </td>
                        <td>
                            {{ yonetici.getVerilecekUcret() }}
                        </td>
                        
                    </tr>
        </tbody>
        <tfoot>
            <tr>
                    <th>Yonetici Id</th>
                    <th>Yonetici Adi</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Adres</th>
                    <th>Verilecek Ucret</th>
            </tr>
        </tfoot>
    </table>
     </div>
</div>


<script>

$(document).ready(function() {
    $('#example').DataTable();
} );
</script>


{% endif %}


{% endblock %}
{% block script  %}

    

{% endblock %}