{% extends 'base.html.twig' %}

{% block title %}Yoneticiler{% endblock %}
{% block body %}

{% if yoneticiler %}


<div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <div style="width:70%;">
    <center><h1>Kayitli Dersler</h1></center>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                    <th>Yonetici ID</th>
                    <th>Yonetici Adi</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Adres</th>
                    <th>Verilecek Ucret</th>
            </tr>
        </thead>
        <tbody>
           {% for yonetici in yoneticiler %}
                    <tr>
                        <td>
                            {{ yonetici.getYoneticiId() }}
                            
                        </td>
                        <td>
                            {{ yonetici.yoneticiAdi }}
                        </td>
                        <td>
                            {{ yonetici.username }}
                        </td>
                        <td>
                            {{ yonetici.email }}
                        </td>
                    
                        <td>
                            {{ yonetici.telefon }}
                        </td>
                        <td>
                            {{ yonetici.adres }}
                        </td>
                        <td>
                            {{ yonetici.verilecekUcret }}
                        </td>
                        
                    </tr>
                {% endfor %}
        </tbody>
        <tfoot>
           <tr>
                    <th>Yonetici ID</th>
                    <th>Yonetici Adi</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Adres</th>
                    <th>Verilecek Ucret</th>
            </tr>
        </tfoot>
    </table>
    </div>
</div>


<script>

$(document).ready(function() {
    $('#example').DataTable();
} );
</script>


{% endif %}


{% endblock %}
{% block script  %}

    

{% endblock %}